<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessibilityReaderEnabled</key>
	<false/>
	<key>AccessibilityReaderHotkey</key>
	<dict>
		<key>AX_READER_HOTKEY_VIEW_IN_READER</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>53</integer>
			<key>modifiers</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>AccessibilityReaderHotkeyEnabled</key>
	<false/>
	<key>AssistiveControlType</key>
	<integer>2</integer>
	<key>FontSizeCategory</key>
	<dict>
		<key>com.apple.Magnifier</key>
		<string>UseGlobal</string>
		<key>com.apple.MobileSMS</key>
		<string>UseGlobal</string>
		<key>com.apple.Notes</key>
		<string>UseGlobal</string>
		<key>com.apple.accessibility.AccessibilityReader</key>
		<string>UseGlobal</string>
		<key>com.apple.finder</key>
		<string>UseGlobal</string>
		<key>com.apple.iBooksX</key>
		<string>UseGlobal</string>
		<key>com.apple.iCal</key>
		<string>UseGlobal</string>
		<key>com.apple.journal</key>
		<string>UseGlobal</string>
		<key>com.apple.mail</key>
		<string>UseGlobal</string>
		<key>com.apple.reminders</key>
		<string>UseGlobal</string>
		<key>com.apple.stocks</key>
		<string>UseGlobal</string>
		<key>com.apple.weather</key>
		<string>UseGlobal</string>
		<key>global</key>
		<string>DEFAULT</string>
		<key>version</key>
		<string>3.0</string>
	</dict>
	<key>History</key>
	<dict>
		<key>MouseKeys</key>
		<array>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:39:08</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:39:08</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:43</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:43</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:43</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:43</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:51</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:51</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:51</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:51</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 03:55:51</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 04:00:42</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-15 04:04:41</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-16 03:53:35</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 03:53:34</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:05:43</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:05:43</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:05:43</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:05:43</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:06:12</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:06:12</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:06:12</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:06:12</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 17:20:49</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 19:23:06</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 19:23:06</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 19:23:07</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 19:23:07</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 19:38:08</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 20:43:16</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 20:43:17</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 20:43:17</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 20:43:17</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-17 20:58:53</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-18 20:58:18</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-19 20:58:25</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-20 20:58:32</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-21 20:58:21</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-22 20:58:36</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-23 20:59:17</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-24 02:03:18</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-24 02:03:19</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-24 02:03:19</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-24 02:03:19</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-24 02:18:51</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-25 02:18:41</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-26 02:18:36</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-27 02:18:29</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-28 02:18:56</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-09-29 02:20:40</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>UserAssignableHotKeys</key>
	<array>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>120</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>99</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>118</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>96</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>97</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>11</integer>
		</dict>
	</array>
	<key>closeViewCustomHotkeyKey</key>
	<dict>
		<key>AX_ZOOM_FREEZE_PANNING</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_MONITOR_SELECTION</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_TEMP_DETACH</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>1310720</integer>
		</dict>
		<key>AX_ZOOM_TEMP_TOGGLE</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>786432</integer>
		</dict>
		<key>AX_ZOOM_TOGGLE_FS_AND_PIP</key>
		<dict>
			<key>charCode</key>
			<integer>102</integer>
			<key>keyCode</key>
			<integer>3</integer>
			<key>modifiers</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>closeViewDesiredZoomFactor</key>
	<real>1.7443152000110744</real>
	<key>closeViewHotkeysEnabled</key>
	<true/>
	<key>closeViewPanningMode</key>
	<integer>2</integer>
	<key>closeViewScrollWheelToggle</key>
	<true/>
	<key>closeViewSmoothImages</key>
	<true/>
	<key>closeViewSplitScreenRatio</key>
	<real>0.20000000000000001</real>
	<key>closeViewTrackpadGestureZoomEnabled</key>
	<true/>
	<key>closeViewWindowPosition</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJb
	TlMucG9pbnR2YWxWJGNsYXNzWk5TLnNwZWNpYWyAAoADEAFbey0xNjMwLCA2MX3SFRYX
	GFokY2xhc3NuYW1lWCRjbGFzc2VzV05TVmFsdWWiFxlYTlNPYmplY3QIERokKTI3SUxR
	U1heZXF4g4WHiZWapa62uQAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAAAAAAAADC
	</data>
	<key>closeViewWindowSize</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMuc2l6ZXZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQAlt7MTUwNCwgOTU5fdIVFhcY
	WiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09iamVjdAgRGiQpMjdJTFFT
	WF5lcHeChIaIlJmkrbW4AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAAAME=
	</data>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>closeViewZoomFactorBeforeTermination</key>
	<real>1</real>
	<key>closeViewZoomMode</key>
	<integer>1</integer>
	<key>closeViewZoomScreenShareEnabledKey</key>
	<false/>
	<key>closeViewZoomedIn</key>
	<false/>
	<key>com.apple.custommenu.apps</key>
	<array>
		<string>NSGlobalDomain</string>
	</array>
	<key>contrast</key>
	<real>0.0</real>
	<key>customFonts</key>
	<false/>
	<key>displaysLastCursorLocation</key>
	<dict>
		<key>0</key>
		<dict>
			<key>X</key>
			<real>1919.98046875</real>
			<key>Y</key>
			<real>1080</real>
		</dict>
		<key>1</key>
		<dict>
			<key>X</key>
			<real>-13.67578125</real>
			<key>Y</key>
			<real>999.0703125</real>
		</dict>
		<key>3</key>
		<dict>
			<key>X</key>
			<real>228.93359375</real>
			<key>Y</key>
			<real>1009.33203125</real>
		</dict>
	</dict>
	<key>dwellEnabled</key>
	<false/>
	<key>dwellTimeDefaultAction</key>
	<real>3</real>
	<key>grayscale</key>
	<false/>
	<key>headMouseSensitivity</key>
	<real>0.5</real>
	<key>headMouseTolerance</key>
	<real>0.0</real>
	<key>hoverColorEnabled</key>
	<false/>
	<key>hoverTextCustomCursorColor</key>
	<dict/>
	<key>hoverTextEnabled</key>
	<false/>
	<key>hoverTextTypingWindowPosition</key>
	<integer>5</integer>
	<key>hoverTypingBorderColor</key>
	<dict/>
	<key>hoverTypingCustomBackgroundColor</key>
	<dict/>
	<key>hoverTypingCustomFontColor</key>
	<dict/>
	<key>hoverTypingElementHighlightColor</key>
	<dict/>
	<key>hoverTypingEnabled</key>
	<false/>
	<key>hoverTypingFontSize</key>
	<real>60</real>
	<key>hoverTypingFontStyle</key>
	<integer>1</integer>
	<key>hudNotifiedConstrast</key>
	<real>0.0</real>
	<key>keyboardAccessCommandMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBfEBNj
	b21tYW5kc1RvS2V5Q2hvcmRzViRjbGFzc4AAgALSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzXxAWQVhTU0tleWJvYXJkQ29tbWFuZE1hcKIWF18QFkFYU1NLZXlib2FyZENvbW1h
	bmRNYXBYTlNPYmplY3QIERokKTI3SUxRU1ddYnh/gYOIk5y1uNEAAAAAAAABAQAAAAAA
	AAAYAAAAAAAAAAAAAAAAAAAA2g==
	</data>
	<key>keyboardAccessFocusRingTimeout</key>
	<real>15</real>
	<key>liveSpeechEnabled</key>
	<false/>
	<key>login</key>
	<false/>
	<key>pronunciationsEnabledKey</key>
	<true/>
	<key>sessionChange</key>
	<false/>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>speakItemUnderMouseAfterDelayTime</key>
	<real>0.0</real>
	<key>speakItemUnderMouseEnabled</key>
	<false/>
	<key>speakSelectionEnabled</key>
	<false/>
	<key>stickyKey</key>
	<false/>
	<key>switchOnOffKey</key>
	<false/>
	<key>systemTranscriptionTranscriptionViewBackgroundColor</key>
	<dict/>
	<key>systemTranscriptionTranscriptionViewFontColor</key>
	<dict/>
	<key>useStickyKeysShortcutKeys</key>
	<false/>
	<key>virtualKeyboardOnOff</key>
	<false/>
	<key>virtualKeyboardTheme</key>
	<string>DisplayThemeDarkOnLight</string>
	<key>voiceOverOnOffKey</key>
	<false/>
</dict>
</plist>
